#radar{
  position: relative;
  top: -700px;
  left: 50px;
}

#map {

  position: relative;
  top: -350px;
  left: 100px;
}

.u-section-1 {
  background-image: url("images/Model3.jpg");
  background-position: 50% 0%;
}

.u-section-1 .u-sheet-1 {
  min-height: 653px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 500;
  margin: 111px 29px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 9px 71px 0;
}

.u-section-1 .u-image-1 {
  width: 400px;
  height: 300px;
  margin: -341px auto 60px 356px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 538px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 2px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 412px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-left: 320px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 309px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-image-1 {
    margin-left: 140px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 150px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 255px;
    margin-left: 0;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("images/TeslaFleet.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 555px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 500;
  margin: 40px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  margin: 40px 804px 60px 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 458px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 644px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 351px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 424px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 263px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 244px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 166px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    margin-right: 44px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("images/BIW.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 680px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 500;
  margin: 51px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  margin: 121px 43px 60px 672px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 67px;
    margin-left: 515px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    margin-left: 295px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    margin-left: 115px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("images/ModelX.webp");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 694px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 500;
  margin: 51px auto 0;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  margin: 40px 724px 60px 40px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 572px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 564px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 438px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 344px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 329px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 164px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 207px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("images/Charging.jpg");
  background-position: 50% 50%;
  max-height:100%; max-width:100%;
}

.u-section-5 .u-sheet-1 {
  min-height: 684px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  font-weight: 500;
  margin: 33px auto 0;
}

.u-section-5 .u-text-2 {
  font-weight: 400;
  margin: 12px 96px 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 564px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
    width: 869px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 432px;
  }

  .u-section-5 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 204px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }
}